body {
 font-family: Arial sans-serif; 
 text-align: center;
 background-color: #e0f7fa;
 }
.container {
 max-width: 600px;
 margin: auto;
 padding: 20px;
 background: #ffffff;
 border-radius: 10px;
 box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
 }
.queue-box {
 margin: 10px 0;
 padding: 10px;
 border: 1px solid #000;
 background: #b3e5fc;
 border-radius: 5px;
}
button { 
 padding: 10px; 
 margin: 5px; 
 cursor: pointer; 
 border: none; 
 border-radius: 5px; 
 background: #0288d1; 
 color: white; 
}
button:hover { 
 background: #0277bd; 
}
input, select {
 padding: 8px; 
 margin: 5px; 
 width: 90%; 
 border: 1px solid #0288d1; 
 border-radius: 5px; 
}
nav { 
 background: #0288d1; 
 padding: 10px; 
 color: white; 
 font-size: 18px; 
 text-align: center; 
}
.container-login a{ 
 text-align: center; 
 color: white; 
 text-decoration: none; 
}